#
# Configuration for PHPStan.
# @see https://phpstan.org/config-reference
#

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    strictRules:
        noVariableVariables: false
    paths:
        - src/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: trait.unused
