{% extends 'base.html.twig' %}

{% block content %}
<section>
    <ul class="phpdocumentor-breadcrumbs">
        <li><a href>Home</a></li>
    </ul>

    <h2 class="phpdocumentor-content__title">PHP Basics</h2>

    <p class="phpdocumentor-summary">A collection of generic classes and useful traits for PHP projects.</p>

    <p>The package currently contains classes for <a href="packages/Basics-DataStructures.html">type-sensitive data
    structures</a>, <a href="packages/Basics-ErrorHandlers.html">error and exception handlers</a>, multiple
    <a href="packages/Basics-InterfaceTraits.html">traits implementing standard interfaces</a>, and more generic
    <a href="packages/Basics-Traits.html">traits for common use cases</a>. They share the same design principles like
    property and method naming schema, highest <a href="https://psalm.dev/">Psalm</a> and <a href="https://phpstan.org/">PHPStan</a> coding standards and full <a href="https://www.php-fig.org/psr/psr-12/">PSR-12</a>
    compliance to make sure they can be combined and easily re-used in other projects.</p>

    <h3 id="toc">Table of Contents</h3>

    {% include('components/toc.html.twig') %}
</section>
{% endblock %}
